
name: test

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  test:

    name: Test Renovate config
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js v14.x
      uses: actions/setup-node@v3
      with:
        node-version: 14.x
    - name: npm ci, and npm test
      run: |
        npm ci
        npm test
      env:
        CI: true